<main class="py-3 pb-md-3 pt-md-5">
  <section class="container-lg p-0">

    <div class="rounded-2 overflow-hidden">

      <slider *ngIf="images" [images] = "images"></slider>

      <div *ngIf="!images" class="single__img">
        <img class="mw-100" src="./assets/images/slider/1.png" alt="...">
      </div>

    </div>

    <section class="py-4 w-75 mx-auto">
      <h2 class="fs-2 text-center mb-4 fw-bold">Ответы на часто задаваемые вопросы</h2>
      <accordion></accordion>
    </section>

  </section>
</main>
<popup></popup>


