<div ngbAccordion [closeOthers]="true">

  <div ngbAccordionItem class="border-0 mb-3">
    <h2 ngbAccordionHeader>
      <button ngbAccordionButton class="bg-primary py-2 py-sm-4 text-light bg-primary rounded-3 fw-bold pe-5">
        Собираете ли вы подарочные боксы?
      </button>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        Да, у нас есть такая услуга. Мы можем собрать подарочный бокс на любой вкус, объем и стоимость!
      </div>
    </div>
  </div>

  <div ngbAccordionItem class="border-0 mb-3">
    <h2 ngbAccordionHeader >
      <button ngbAccordionButton class="bg-primary py-2 py-sm-4 text-light bg-primary rounded-3 fw-bold pe-5">
        Сколько у вас разновидностей чая?
      </button>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        У нас 6 разновидностей чая и все они обладают великолепным вкусом!
      </div>
    </div>
  </div>

  <div ngbAccordionItem class="border-0 mb-3">
    <h2 ngbAccordionHeader >
      <button ngbAccordionButton class="bg-primary py-2 py-sm-4 text-light bg-primary rounded-3 fw-bold pe-5">
        В какой срок осуществляется доставка?
      </button>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody class="mb-3">
        Доставка осуществляется не поздней 15 рабочих дней!
      </div>
    </div>
  </div>

  <div ngbAccordionItem class="border-0 mb-3">
    <h2 ngbAccordionHeader >
      <button ngbAccordionButton class="bg-primary py-2 py-sm-4 text-light bg-primary rounded-3 fw-bold pe-5">
        У вас обновляется ассортимент?
      </button>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody class="mb-3">
        Да, у нас регулярно обновляется и дополняется ассортимент!
      </div>
    </div>
  </div>

  <div ngbAccordionItem class="border-0 mb-3">
    <h2 ngbAccordionHeader >
      <button ngbAccordionButton class="bg-primary py-2 py-sm-4 text-light bg-primary rounded-3 fw-bold pe-5">
        Какого объема у вас пачки чая?
      </button>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody class="mb-3">
        Объем пачки 300мл, внутри 230гр чая!
      </div>
    </div>
  </div>

</div>

