$transition-active: 700ms;

h3 {
  position: relative;
  cursor: pointer;

  &::after{
    content: '';
    width: 10%;
    height: 100%;
    background-image: url("../../../../assets/images/icons/arrow_accordion.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50% 50%;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
    transform: rotate(0);
    transition: $transition-active;
  }
  &.active::after{
    transform: rotateX(180deg);
  }
  &.active + div{
    max-height: 300px;
  }
  &.active + div > .accordion__text{
    transform: translateY(0);
    opacity: 1;
  }
}

h3 + div{
  max-height: 0;
  overflow: hidden;
  transition: all $transition-active;
}

.accordion__text{
  transform: translateY(-100%);
  opacity: 0;
  transition: all $transition-active;
}


