article {
  $width-popup: 300px;
  width: $width-popup;
  left: -100%;
  top: -100%;
  box-shadow: 0 0 30px 5px black;
  opacity: 0;
  transition: all 1000ms linear;

  &.active {
    left: calc(50% - ($width-popup / 2));
    top: 50%;
    opacity: 1;
  }
}

